<app-header titulo=targetas></app-header>

<ion-content>
  <ion-card mode=ios>
    <ion-img src="https://images5.alphacoders.com/105/1051727.jpg"></ion-img>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aperiam autem, architecto doloremque fuga ipsum magni rem suscipit enim dignissimos reprehenderit consequatur esse quod, debitis et blanditiis totam cum repellendus.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon name="navigate-circle-outline" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="clear" color="light" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime cum quis tenetur aspernatur molestiae ipsam amet suscipit qui, velit perspiciatis aliquid veritatis, consequuntur et deserunt ad illo hic recusandae. Recusandae?
    </ion-card-content>
  </ion-card>
  
</ion-content>